<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Classification</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <style>
        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 15px;
        }



        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }



        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width:600px) {
            .column {
                width: 100%;
            }
        }

        .pd_text{
            margin: auto;
            margin-top: 10px;
            width: 60%;
            color: navy-blue;
            text-align: center;
            padding: 10px;
            font-size: 28px;
        }
        .pd_result{
            margin: auto;
            margin-top: 10px;
            width: 60%;
            color: navy-blue;
            text-align: center;
            padding: 10px;
            font-size: 25px;
        }

        .text-block {
            position: relative;
            bottom: 5px;
            right: 20px;
            margin-top: 100px;
            background-color: black;
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
            opacity: 0.8;
        }

        section.background {
            background: url(../static/images/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border: 2px solid black;
            opacity: 0.8;
        }

        div.transbox {
            margin: 25px;
            background-color: black;
            border: 1px solid black;
            opacity: 0.8;
        }
        .fields{
            margin-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: white;

        }

        .images{
            right: 20px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .form-label{
        color: white;
        font-weight: bold;
        font-size:20px;
        }

        .navbar-brand {
          position: static;
        }


    </style>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">CREDIT CARD APPROVAL PREDICTION</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('welcome') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('classification_start') }}">Classification</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('association_start') }}">Association</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead1">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        </div>
    </div>
</header>

<section class="background">
    <div class="row">
        <div class="column">
            <div class="container py-8 h-200">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="background">
                        <div class="transbox" width="500" height="500">
                    <!--<div class="col-10 col-lg-12 col-xl-10">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width:500px; float:left;">
                            <div class="card-body p-3 p-md-5">-->
                                <form action="{{ url_for('predict')}}" method="POST">
                                    <div class="row fields">
                                        <div class="col-md-8 mb-1">
                                            <div class="form-outline">
                                                <label class="form-label">Enter details to Proceed ... </label>
                                            </div>
                                        </div>

                                        <div class="container">
                                            <div class="row fields" >
                                                <div class="col-6">
                                                    <label class="form-label">Gender :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="gender">
                                                        <option selected>Select option</option>
                                                        <option value="1">Male</option>
                                                        <option value="0">Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields" >
                                                <div class="col-6">
                                                    <label class="form-label">Flag Own Car :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="car">
                                                        <option selected>Select option</option>
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Flag Own Realty :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="realty">
                                                        <option selected>Select option</option>
                                                        <option value="1">Yes</option>
                                                        <option value="0">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">No Of Children :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="child" min="0" max="20" placeholder="0-20" required>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Total Income :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="income" placeholder="Enter Your Income" required>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Income Type :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="income_type">
                                                        <option selected>Select option</option>
                                                        <option value="0">Commercial associate</option>
                                                        <option value="1">State servant</option>
                                                        <option value="2">Working</option>
                                                        <option value="3">Pensioner</option>
                                                        <option value="4">Student</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Education Type :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="educate">
                                                        <option selected>Select option</option>
                                                        <option value="0">Secondary / secondary special</option>
                                                        <option value="1">Lower secondary</option>
                                                        <option value="2">Higher education</option>
                                                        <option value="3">Incomplete higher</option>
                                                        <option value="4">Academic degree</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Family Status :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="fam_stat">
                                                        <option selected>Select option</option>
                                                        <option value="0">Single / not married</option>
                                                        <option value="1">Separated</option>
                                                        <option value="2">Widow</option>
                                                        <option value="3">Married</option>
                                                        <option value="4">Civil marriage</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Housing Type :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="hou_type">
                                                        <option selected>Select option</option>
                                                        <option value="0">House / apartment</option>
                                                        <option value="1">Municipal apartment</option>
                                                        <option value="2">Rented apartment</option>
                                                        <option value="3">Office apartment</option>
                                                        <option value="4">Co-op apartment</option>
                                                        <option value="5">With parents</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Age :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="age" placeholder="Enter Your Age" required>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Years of Experience :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="experience" placeholder="Enter Years of Experience" required>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Occupation Type :</label>
                                                </div>
                                                <div class="col-6">
                                                    <select class="select form-control" name="occ">
                                                        <option selected>Select option</option>
                                                        <option value="1">Accountants</option>
                                                        <option value="2">Cleaning staff</option>
                                                        <option value="3">Cooking staff</option>
                                                        <option value="4">Core staff</option>
                                                        <option value="5">Drivers</option>
                                                        <option value="6">HR staff</option>
                                                        <option value="7">High skill tech staff</option>
                                                        <option value="8">IT staff</option>
                                                        <option value="9">Laborers</option>
                                                        <option value="10">Low-skill Laborers</option>
                                                        <option value="11">Managers</option>
                                                        <option value="12">Medicine staff</option>
                                                        <option value="13">Private service staff</option>
                                                        <option value="14">Realty agents</option>
                                                        <option value="15">Sales staff</option>
                                                        <option value="16">Secretaries</option>
                                                        <option value="17">Security staff</option>
                                                        <option value="18">Waiters/barmen staff</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Family Members :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="fam_mem" placeholder="Enter Years of Experience" required>
                                                </div>
                                            </div>
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <label class="form-label">Month Balance :</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="select form-control" name="month" placeholder="Enter Month Balance" required>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="mt-2 pt-1">
                                            <div class="row fields">
                                                <div class="col-6">
                                                    <button type="reset" class="btn btn-danger btn-lg ms-2">Cancel</button>
                                                </div>
                                                <div class="col-6">
                                                    <input class="btn btn-success btn-lg ms-2" type="submit" value="Submit"/>
                                                </div>
                                            </div>
                                            <div class="row fields"></div>
                                        </div>
                                    </div>
                                </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="row">
                <img
                        src="{{ url_for('static', filename='scatterPlot.png' ) }} " width="50%" height="600px"
                        alt="Parallel Plot for generated rules"
                        class="img-fluid images"
                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; margin-top:50px; padding-right:10px;"
                />
            </div>
            <div class="text-block">
                <div class="row">
                    <div class="pd_text">
                        {{ prediction_text }}
                    </div>
                </div>
                <div class="row">
                    <div class="pd_result">
                        {{ prediction_output }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy;</div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</body>
</html>