# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\SLIIT\Y3.S2\Fundamentals of Data Mining - IT3051\Project\Flask\FDM-Mini-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
